<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login page</title>
</head>

<body>
  <section>
    <h1>ログイン画面</h1>
    <p>IDとパスワードを入力してください</p>
  </section>

  <section>
    <form id="loginForm">
      <label>ID</label>
      <input type="text" id="id">
      <label>パスワード</label> <input type="password" id="password">
      <p id="errorMessage"></p>
      <input type="submit" onclick="login()">
    </form>
  </section>

  <section>
    <h2>会員登録していない場合</h2>
    <form action="{{ url_for('regist') }}" method="get">
      <button type="submit">登録画面へ</button>
  </form>
  </section>

 

  <script>
 
    const loginForm = document.getElementById('loginForm');
    const errorMessage = document.getElementById('errorMessage');

    loginForm.addEventListener('submit', async (event) => {
        event.preventDefault();

        const id = document.getElementById('id').value;
        const password = document.getElementById('password').value;

        const response = await fetch('/api/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ id: id, password: password }),
        });

        const data = await response.json();

        if (response.ok) {
            // ログイン成功
            window.location.href = '/index'; // 遷移先のURL
        } else {
            // ログイン失敗
            errorMessage.textContent = data.message || 'ログインに失敗しました。';
        }
    });


  </script>
</body>

</html>